[
    {
        "name": "AZURE_COSMOSDB_ACCOUNT",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_COSMOSDB_ACCOUNT_KEY",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_COSMOSDB_CONVERSATIONS_CONTAINER",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_COSMOSDB_DATABASE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_COSMOSDB_ENABLE_FEEDBACK",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_KEY",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_MAX_TOKENS",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_MODEL",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_MODEL_NAME",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_RESOURCE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_OPENAI_SYSTEM_MESSAGE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_SEARCH_INDEX",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_SEARCH_KEY",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_SEARCH_SERVICE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_SEARCH_STRICTNESS",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "AZURE_SEARCH_TOP_K",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "MICROSOFT_PROVIDER_AUTHENTICATION_SECRET",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "SCM_DO_BUILD_DURING_DEPLOYMENT",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_CHAT_DESCRIPTION",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_CHAT_LOGO",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_CHAT_TITLE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_FAVICON",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_LOGO",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_SHOW_SHARE_BUTTON",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "UI_TITLE",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "WEBSITE_AUTH_AAD_ALLOWED_TENANTS",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "WEBSITE_HTTPLOGGING_RETENTION_DAYS",
        "value": "",
        "slotSetting": false
    },
    {
        "name": "WEBSITE_WEBDEPLOY_USE_SCM",
        "value": "",
        "slotSetting": false
    }
]